[submodule "pack/colors/start/base16-vim"]
	path = pack/colors/start/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "pack/plugin/start/vim-fugitive"]
	path = pack/plugin/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugin/start/nerdtree"]
	path = pack/plugin/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugin/start/nerdcommenter"]
	path = pack/plugin/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "pack/plugin/start/html5-vim"]
	path = pack/plugin/start/html5-vim
	url = git@github.com:othree/html5.vim.git
[submodule "pack/plugin/start/vim-css-color"]
	path = pack/plugin/start/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "pack/plugin/start/vim-javascript"]
	path = pack/plugin/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/plugin/start/vim-endwise"]
	path = pack/plugin/start/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "pack/plugin/start/vim-ragtag"]
	path = pack/plugin/start/vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule "pack/plugin/start/vim-surround"]
	path = pack/plugin/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugin/start/ack-vim"]
	path = pack/plugin/start/ack-vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "pack/plugin/start/vim-ruby"]
	path = pack/plugin/start/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "pack/plugin/start/supertab"]
	path = pack/plugin/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "pack/plugin/start/ctrlp"]
	path = pack/plugin/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "pack/plugin/start/vim-airline"]
	path = pack/plugin/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/plugin/start/vim-airline-themes"]
	path = pack/plugin/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "pack/plugin/start/ale"]
	path = pack/plugin/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugin/start/swift-vim"]
	path = pack/plugin/start/swift-vim
	url = git@github.com:keith/swift.vim.git
